[Unit]
Description=Starts Xorg & Ratpoison on boot

[Service]
Type=simple
WorkingDirectory=/opt/deploy/smallbrowse
ExecStart=/opt/deploy/smallbrowse/display.sh
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
